{% load i18n %}

<form class="form-horizontal form-label-left">
  {% csrf_token %}
  <div class="form-group">
    <label class="control-label col-md-1 col-sm-12 col-xs-12">{% trans 'Período' %}</label>
      <div class="col-md-3 col-sm-12 col-xs-12">
        {{ form.date_ini }}
        <!--<input type="text" class="form-control from" placeholder="{% trans 'Fecha inicio' %}">-->
        
      </div>
      <div class="col-md-3 col-sm-12 col-xs-12">
        {{ form.date_end }}
      </div>
  </div>
  <div class="form-group">
    <label class="control-label col-md-1 col-sm-12 col-xs-12">{% trans 'Consultores' %} </label>
    <div class="row">
      <div class="col-md-4 col-sm-12 col-xs-12">
        {{ form.consultants }}
      </div>
      
      <div class="col-md-2 col-sm-12 col-xs-12 text-center">
          
            <button type='button' class="btn btn-default" id='add'> >> </button>
            <button type='button' class="btn btn-default" id='del'> << </button> 
      </div>
        
      <div class="col-md-4 col-sm-12 col-xs-12">
        {{ form.co_select }}
      </div>
    </div>
  </div>
  <div class="ln_solid"></div>
  <div class="form-group">
    <div class="col-md-12 col-sm-12 col-xs-12 text-center">
      <div class="btn-group">
        
          <button type="button" class="btn btn-default" id="relatorio"> <i class="fa fa-file-text"></i> {% trans 'Relatorio' %}</button>
        
          <button type="button" class="btn btn-default" id="graphic"> <i class="fa fa-area-chart"></i> {% trans 'Gráfico' %}</button>
        
          <button type="button" class="btn btn-default" id="pie"> <i class="fa fa-pie-chart"></i> {% trans 'Pizza' %}</button>

      </div>
    </div>
  </div>

</form>