{% load i18n %}
{% load humanize %}
{% load staticfiles %}

<div class="x_panel">
	<div class="x_title">
        <h2>{% trans "Relatorio" %} </h2>
        <div class="clearfix"></div>
    </div>
    <div class="x_content">
    	{% for c in consultor %}

	        <table class="table table-hover">
		    <thead>
		        <tr>
		        	<td colspan="5">{{ c.usuario }}</td>
		        </tr>
		        <tr>
					<th>{% trans "Período" %}</th>
					<th>{% trans "Renta Líquida" %}</th>
					<th>{% trans "Costo Fijo" %}</th>
					<th>{% trans "Comisión" %}</th>
					<th>{% trans "Lucro" %}</th>			
			    </tr>
			</thead>
			{% for data in c.rows %}
			<tbody>
	        <tr>
               <td>{{ data.data_emissao }}</td>
               <td align="right">{{ data.ganancia_neta | floatformat:"2" | intcomma}}</td>
               <td align="right">{{ data.costo_fijo | floatformat:"2" | intcomma }}</td>
               <td align="right">{{ data.comision | floatformat:"2" | intcomma }}</td>
               <td align="right">{{ data.lucro | floatformat:"2" | intcomma }}</td>
            </tr>
	        {% endfor %}
	        
	           <tr class="">
	           	  <td><strong>SALDO</strong></td>
	           	  <td align="right"><strong>{{ c.t_renta | floatformat:"2" | intcomma }}</strong></td>
	           	  <td align="right"><strong>{{ c.t_costo_fijo | floatformat:"2" | intcomma }}</strong></td>
	           	  <td align="right"><strong>{{ c.t_comision | floatformat:"2" | intcomma }}</strong></td>
	           	  <td align="right"><strong>{{ c.t_lucro | floatformat:"2" | intcomma }}</strong></td>
	           </tr>	
	        
		{% endfor %}
    </div>
        
    
</div><!-- fin x-panel-->