{% extends 'base/base.html' %}

{% load staticfiles %}

{% block title %} Desempeño {% endblock  %}

{% block content %}

<h3>Consultor <small>Desempeño</small></h3>

<div class="row">
    <div class="col-md-6 col-xs-12">
        <div class="x_panel">
        	<div class="x_title">
                <h2>Parametros de la consulta</h2>
                <div class="clearfix"></div>
            </div>
            <div class="x_content">

            </div>
        </div><!-- fin x-panel-->	
    </div>

    <div class="col-md-6 col-xs-12">
        <div class="x_panel">
        	<div class="x_title">
                <h2>Consultores seleccionados</h2>
                <div class="clearfix"></div>
            </div>
            <div class="x_content">

            </div>
        </div><!-- fin x-panel-->
    </div>
</div>

{% endblock %}

{% block extra_css %}
   <link rel="stylesheet" type="text/css" href="{% static 'js/vendors/jquery.tagsinput/src/jquery.tagsinput.css' %}">
{% endblock %}

{% block extra_js %}
   <script type="text/javascript" src="{% static 'js/vendors/jquery.tagsinput/src/jquery.tagsinput.js' %}"></script>
{% endblock %}