{% extends 'base/base.html' %}

{% load staticfiles %}
{% load i18n %}
{% get_current_language as LANGUAGE_CODE %}

{% block title %} {% trans "Desempeño" %} {% endblock  %}

{% block content %}

<h3>{% trans "Consultor" %} <small>{% trans "Desempeño" %}</small></h3>

<div class="row">
    <div class="col-md-12 col-xs-12">
        <div class="x_panel">
        	<div class="x_title">
                <h2>{% trans "Parámetros de la consulta" %} </h2>
                <div class="clearfix"></div>
            </div>
            <div class="x_content">

                {% include 'consultor/_form_parameters.html' %}
     
            </div>
        </div><!-- fin x-panel-->	
    </div>

    <div class="col-md-12 col-xs-12" id="result">
        
    </div>

</div>

{% endblock %}

{% block extra_css %}
<style>
.width_select {
    width: 100px;
    float: left;
} 
</style>
<link rel="stylesheet" href="{% static 'js/vendors/morris.js/morris.css' %}">
{% endblock %}

{% block extra_js %}
<script src="http://cdnjs.cloudflare.com/ajax/libs/raphael/2.1.2/raphael-min.js"></script>
<script type="text/javascript" src="{% static 'js/vendors/morris.js/morris.min.js' %}"></script>

<script type="text/javascript">
$(document).ready(function(){

    $('#add').on('click', function(event) {
        event.preventDefault();
        return !$('#id_consultants option:selected').remove().appendTo('#id_co_select'); 
    }); 

    $('#del').on('click', function() { 
        return !$('#id_co_select option:selected').remove().appendTo('#id_consultants'); 
    });

    $('#relatorio').on('click', function(event) {
        event.preventDefault();
        $.ajax({
            url : "consultor/relatorio/", // the endpoint
            type : "POST", // http method
            data : $('#frm').serialize(), // data sent with the post request

            // handle a successful response
            success : function(data) {
                $("#result").html(data);
                console.log("success"); 
            },

            // handle a non-successful response
            error : function(xhr,errmsg,err) {
                $('#results').html("<div class='alert-box alert radius' data-alert>Oops! We have encountered an error: "+errmsg+
                    " <a href='#' class='close'>&times;</a></div>"); // add the error to the dom
                console.log(xhr.status + ": " + xhr.responseText); // provide a bit more info about the error to the console
            }
        });
    });

    $('#graphic').on('click', function(event) {
        event.preventDefault();
        console.log('Desplegar grafico');
        $.ajax({
            url : "consultor/bar_graphic/", // the endpoint
            type : "POST", // http method
            data : $('#frm').serialize(), // data sent with the post request

            // handle a successful response
            success : function(data) {
                $("#result").html(data);
                console.log(data);
                console.log("success"); 
            },

            // handle a non-successful response
            error : function(xhr,errmsg,err) {
                $('#results').html("<div class='alert-box alert radius' data-alert>Oops! We have encountered an error: "+errmsg+
                    " <a href='#' class='close'>&times;</a></div>"); // add the error to the dom
                console.log(xhr.status + ": " + xhr.responseText); // provide a bit more info about the error to the console
            }
        });
    });

    $('#pie').on('click', function(event) {
        event.preventDefault();
        console.log('Desplegar grafico');
        $.ajax({
            url : "consultor/pie_graphic/", // the endpoint
            type : "POST", // http method
            data : $('#frm').serialize(), // data sent with the post request

            // handle a successful response
            success : function(data) {
                $("#result").html(data);
                console.log("success"); 
            },

            // handle a non-successful response
            error : function(xhr,errmsg,err) {
                $('#results').html("<div class='alert-box alert radius' data-alert>Oops! We have encountered an error: "+errmsg+
                    " <a href='#' class='close'>&times;</a></div>"); // add the error to the dom
                console.log(xhr.status + ": " + xhr.responseText); // provide a bit more info about the error to the console
            }
        });
    });

    
});
</script>
{% endblock %}